<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
     <!-- 设置其他库是将dao parent改为其他的genericDao基类。CrmUserDaoImpl继承 crmGenericDao
	 <bean id="crmUserDao" class="com.fairyhawk.dao.impl.user.CrmUserDaoImpl"  parent="crmGenericDao"/>
     -->
     
     <!--  dao 注册  -->
	<bean id="userDao" class="com.fairyhawk.dao.impl.user.UserDaoImpl" parent="genericDao" />
	<bean id="roleDao" class="com.fairyhawk.dao.impl.user.RoleDaoImpl" parent="genericDao" />
	<bean id="functionDao" class="com.fairyhawk.dao.impl.user.FunctionDaoImpl" parent="genericDao" />
	<bean id="groupDao" class="com.fairyhawk.dao.impl.user.GroupDaoImpl" parent="genericDao" />
	<bean id="loginLogDao" class="com.fairyhawk.dao.impl.user.LoginLogDaoImpl" parent="genericDao" />
	
	
	 <!--  service 注册  -->
	<bean id="userService" class="com.fairyhawk.service.impl.user.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="roleService" class="com.fairyhawk.service.impl.user.RoleServiceImpl">
		<property name="roleDao" ref="roleDao"></property>
		<property name="functionDao" ref="functionDao"></property>
	</bean>
	
	<bean id="functionService" class="com.fairyhawk.service.impl.user.FunctionServiceImpl">
		<property name="functionDao" ref="functionDao"></property>
	</bean>
	
	<bean id="groupService" class="com.fairyhawk.service.impl.user.GroupServiceImpl">
		<property name="userDao" ref="userDao"></property>
		<property name="groupDao" ref="groupDao"></property>
	</bean>
	
	<bean id="loginLogService" class="com.fairyhawk.service.impl.user.LoginLogServiceImpl">
		<property name="loginLogDao" ref="loginLogDao"></property>
	</bean>
	
</beans>
