<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginLogMapper" >
    
	<sql id="SYS_LOGIN_LOG_TBL_columns">
	  SYS_LOGIN_LOG_TBL.ID,
	  SYS_LOGIN_LOG_TBL.LOGINTIME,
	  SYS_LOGIN_LOG_TBL.IP,
	  SYS_LOGIN_LOG_TBL.USERID,
	  SYS_USER_TBL.USER_NAME,
	  SYS_USER_TBL.LOGIN_NAME
	</sql>
    
    <resultMap type="LoginLog" id="LoginLogResult">
    	<result property="id" column="ID"/>
    	<result property="loginTime" column="LOGINTIME"/>
    	<result property="ip" column="IP"/>
    	<result property="userId" column="USERID"/>
    	<result property="userName" column="USER_NAME"/>
    	<result property="loginName" column="LOGIN_NAME"/>
    </resultMap>
    
    <!-- 添加登录日志 -->
    <insert id="addLoginLog" parameterType="LoginLog">
		INSERT INTO SYS_LOGIN_LOG_TBL (
		  SYS_LOGIN_LOG_TBL.LOGINTIME,
		  SYS_LOGIN_LOG_TBL.IP,
		  SYS_LOGIN_LOG_TBL.USERID
		) 
		VALUES
		  (#{loginTime}, #{ip}, #{userId})
    </insert>
    
    <!-- 查看所有登录日志记录 -->
    <select id="getAll" resultMap="LoginLogResult" parameterType="QueryLoginLogCondition">
		SELECT 
		  <include refid="SYS_LOGIN_LOG_TBL_columns"/>
		FROM
 		  SYS_LOGIN_LOG_TBL,
  		  SYS_USER_TBL
  		WHERE SYS_LOGIN_LOG_TBL.USERID = SYS_USER_TBL.USER_ID 
    	  ORDER BY SYS_LOGIN_LOG_TBL.ID DESC
    	<include refid="publicMapper.pageEnd"/>
    </select>
    
    <select id="getAllCount" resultType="int" parameterType="QueryLoginLogCondition">
    	SELECT 
		  COUNT(1)
		FROM
		  SYS_LOGIN_LOG_TBL 
    </select>
    
    <!-- 根据用户登录ID查看所有登录日志记录 -->
    <select id="getByUserId" resultMap="LoginLogResult" parameterType="QueryLoginLogCondition">
		SELECT 
		  <include refid="SYS_LOGIN_LOG_TBL_columns"/>
		FROM
 		  SYS_LOGIN_LOG_TBL,
  		  SYS_USER_TBL
		WHERE SYS_USER_TBL.USER_ID = #{userId} 
  		  AND SYS_LOGIN_LOG_TBL.USERID = #{userId} 
    	ORDER BY SYS_LOGIN_LOG_TBL.ID DESC
    	<include refid="publicMapper.pageEnd"/>
    </select>
    
    <select id="getByUserIdCount" resultType="int" parameterType="QueryLoginLogCondition">
    	SELECT 
		  COUNT(1)
		FROM
		  SYS_LOGIN_LOG_TBL
		WHERE 
		  SYS_LOGIN_LOG_TBL.USERID = #{userId}
    </select>
    
    <!-- 根据用户名搜索查看登录日志 -->
    <select id="search" resultMap="LoginLogResult" parameterType="QueryLoginLogCondition">
    	SELECT 
		  <include refid="SYS_LOGIN_LOG_TBL_columns"/>
		FROM
 		  SYS_LOGIN_LOG_TBL,
  		  SYS_USER_TBL
  		WHERE SYS_LOGIN_LOG_TBL.USERID = SYS_USER_TBL.USER_ID 
  			  AND (SYS_USER_TBL.USER_NAME LIKE  CONCAT('%',#{userName},'%' ) 
  			  OR SYS_USER_TBL.LOGIN_NAME LIKE CONCAT('%',#{userName},'%' ) )
    	  ORDER BY SYS_LOGIN_LOG_TBL.ID DESC
    	<include refid="publicMapper.pageEnd"/>
    </select>
    
    <select id="searchCount" resultType="int" parameterType="QueryLoginLogCondition">
    	SELECT 
		  count(1)
		FROM
 		  SYS_LOGIN_LOG_TBL,
  		  SYS_USER_TBL
  		WHERE SYS_LOGIN_LOG_TBL.USERID = SYS_USER_TBL.USER_ID 
  			   AND (SYS_USER_TBL.USER_NAME LIKE  CONCAT('%',#{userName},'%' ) 
  			  OR SYS_USER_TBL.LOGIN_NAME LIKE CONCAT('%',#{userName},'%' ) )
    </select>
    <!--end-->
</mapper>